body {
    background-color: rgb(26, 26, 27);
    font-family: 'IBM Plex Sans';
    letter-spacing: 0.3px;
}

.comment-content-text {
    color: #D7DADC;
}

.posted-by, .date, .upvotes, .comment-text, .awards-text, .share-text, .award-count {
    color: rgb(129, 131, 132);
    font-size: 12px;
    margin-top: 0px;
}

.float-child {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.side-bar {
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

.username {
    color: #D7DADC;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.main-bar {
    margin-top: 10px;
    width: 90%;
}

.less-margin {
    margin-right: 0px;
    margin-left: 0px;
}

.vertical-line {
    border-left: #3b3d3e solid;
    border-width: 0.01em;
    margin-left: 15px;
    margin-right: 10px;
    height: 100%;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.award-icon {
    margin-top: 0px;
}
