<html>

    <head>
        <title>Body</title>
        <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="../css/comment.css">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="comment">
            <div class="main-bar float-child">
                <div class="comment-content">
                    <p class="comment-content-text" style="clear: both; margin-top: 0px; margin-bottom: 10px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque illo, consectetur reprehenderit fugiat corrupti nostrum quo maxime totam repudiandae aut aliquam, dolorem corporis, numquam voluptatem? In cum tempora mollitia?
                    </p>
                </div>
            </div>
        </div>
    </body>

</html>