<html>

    <head>
        <title>Comment</title>
        <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="../css/comment.css">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="comment">

            <div class="side-bar float-child">
            </div>

            <div class="main-bar float-child">
                <div class="comment-header">
                    <div class="less-margin float-child">
                        <p class="username less-margin">Username</p>
                    </div>

                    <div class="float-child" style="height:2%; margin-top: 2px; margin-bottom: 20px;">
                        <p class="less-margin posted-by">1 hr. ago</p>
                        <br>
                    </div>
                </div>

                <div class="comment-content">
                    <p class="comment-content-text" style="clear: both; margin-top: 0px; margin-bottom: 10px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque illo, consectetur reprehenderit fugiat corrupti nostrum quo maxime totam repudiandae aut aliquam, dolorem corporis, numquam voluptatem? In cum tempora mollitia?
                    </p>
                </div>

                <div class="comments less-margin float-child">
                    <img class="comment-icon less-margin float-child" src="../img/upvote.png">
                    <p class="comment-text float-child">
                        1.0k
                    </p>
                    <img class="comment-icon less-margin float-child" style="margin-right: 15px;" src="../img/downvote.png">
                </div>

                <div class="awards less-margin float-child">
                    <img class="comment-icon less-margin float-child" src="../img/comment.png">
                    <p class="awards-text float-child">
                        Reply
                    </p>
                </div>

                <div class="share less-margin float-child">
                    <img class="share-img less-margin float-child" src="../img/share.png">
                    <p class="share-text float-child">
                        Share
                    </p>
                </div>


                <div class="more less-margin float-child">
                    <img class="more-img less-margin float-child" src="../img/more.png">
                </div>
            </div>
        </div>
    </body>

</html>