<html>

<head>
    <title>Topic</title>
    <link href="https://fonts.googleapis.com/css?family=IBM Plex Sans" rel="stylesheet" />
    <link href="../css/topic.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
</head>

<body>
    <div class="topic">
        <div class="side-bar float-child">
            <img class="upvote" src="../img/upvote.png" />
            <p class="upvotes">1.5K</p>
            <img class="upvote" src="../img/downvote.png" />
        </div>
        <div class="main-bar float-child">
            <div class="topic-header">
                <div class="float-child" style="margin-left: 0px;">
                    <p class="less-margin posted-by">Posted by True_Egg_5685 2 hours ago</p>
                </div>
            </div>
            <div class="topic-content" style="clear: both;">
                <p class="topic-content-text">Which celebrity went on the fastest, hardest and most destructive
                    downwards spiral from their peak?</p>
            </div>
            <div class="comments less-margin float-child">
                <img class="comment-icon less-margin float-child" src="../img/comment.png" />
                <p class="comment-text float-child">972 comments</p>
            </div>
            <div class="awards less-margin float-child">
                <img class="award-icon less-margin float-child" src="../img/award.png" />
                <p class="awards-text float-child">
                    Award
                </p>
            </div>
            <div class="share less-margin float-child">
                <img class="share-img less-margin float-child" src="../img/share.png" />
                <p class="share-text float-child">
                    Share
                </p>
            </div>
            <div class="more less-margin float-child">
                <img class="more-img less-margin float-child" src="../img/more.png" />
            </div>
        </div>
    </div>
</body>

</html>